
.sidnav {
  background: transparent !important;
}

.navlist {
margin-top: 1%;
}

.navlist div {
float: left;;
}

.brand {
margin-left: 3%;
margin-right: 34%;
color: white !important;
font-weight:bolder;
font-size: larger;
font-family:'Courier New', Courier, monospace;
letter-spacing: 1.8px;
cursor: pointer;
}

.listitem {
    margin-left: 3%;
    color: whitesmoke !important;
    font-weight:bold;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;  
}

.listitem:hover {
  transform: scale(1.1);
    text-decoration: underline;
}

.maincontent {
    margin-top: 7%;
    margin-left: 8%;
    font-size: calc(30px + 0.5vw);
    color: white;
    letter-spacing: 3px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
  .typewriter-effect:after {
    content: " </>";
    animation: blink 1s infinite;
    animation-timing-function: step-end;
  }

  .social {
    margin-left: 2%;
    cursor: pointer;
  }

  .titles {
      font-size: medium;
      font-family: 'Courier New', Courier, monospace;
      color: #dbfad7;color: -webkit-linear-gradient(top left, #A9F99F, #46ADD5);color: -moz-linear-gradient(top left, #A9F99F, #46ADD5);color: linear-gradient(to bottom right, #A9F99F, #46ADD5);
  }

  .explore {
      margin-top: 3%;
      border: 2px solid green;
       border-color: #04AA6D;
      background: transparent;
      color: #1db954;
      font-weight: bold;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      animation:bouncy 5s infinite linear;
      animation-delay:0.05s;
      position:relative;
  }

  @keyframes bouncy { 
   0% {
      top:0em
    }
   40% {
      top:0em
    }
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }

  .explore:hover {
    transform: scale(1.1);
  }

  .sid {
    color:#1db954;
  }

  @keyframes typing {
    75%,
    100% {
      max-width: 14 * 1ch;
    }
  }
  
  @keyframes blink {
    0%,
    75%,
    100% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
  }